<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>AddUsers</title>
	<link rel="stylesheet" type="text/css" href="/css/update.css">
	<link rel="icon" href="/img/descarga.jpg">
</head>

<header>
    <h1>Confiteria</h1>
    <nav>
      <ul>
        <li><a href="/usuarios">Volver </a></li>
        
        
      </ul>
    </nav>
   </header>
   <main class="forms"> 
	<h1 id="crear">Add Users</h1>
   
   
   <form action="/addUser" method="post">
   
   
   <div id="editorcentrall">
   
   
   <input type="text" autofocus name="nombre" placeholder="Nombre" />
   <input name="apellido" type="apellido" placeholder="apellido" />
   <input type="number" name="cedula" placeholder="cedula">
   <input type="text" name="correo" placeholder="correo">
   <input type="password" name="password" placeholder=" password">
  
   
   
   
	<input type="submit" value='agregar'>
	
   
	   
   </div>
   </form>

   <script type="text/javascript">
	function volver(){
		window.location.href='/usuarios';
	}
	</script>
   </main>
