<head>
    <meta charset="utf-8">
    <meta charset="iso-8559-1"/>
    <meta name= "description" content="pagina de enseñanza"/>
    <meta name="keywords" content="html5,javascript,diseño web"/>
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
     <link rel="icon" href="/img/descarga.jpg">
     <script async src="https://www.googletagmanager.com/gtag/js?id=G-JVLQFMWCBR"></script>
		<!--Google Analytics-->
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag() {
			dataLayer.push(arguments);
		  }
		  gtag('js', new Date());
		  gtag('config', 'G-JVLQFMWCBR');
		</script>
		<!--Schema Markup-->
		 <script type="application/ld+json">
		  {
			"@context": "https://schema.org",
			"@type": "Article",
			"headline": "Confiteria",
			"datePublished": "2024-01-22",
			"author": {
			  "@type":"Person",
			  "name": "Excleyer"
			},
			"publisher":{
			  "@type": "Organization",
			  "name": "Confiteria",
			  "logo": {
				"@type": "ImageObject",
				"url": "https://images.pexels.com/photos/8853537/pexels-photo-8853537.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
			  }
			},
			"image": {
			  "@type": "ImageObject",
			  "url": "https://images.pexels.com/photos/8853537/pexels-photo-8853537.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
			  "width": "800",
			  "height": "600"
			},
			"description": "Lo Mejor en productos de alta calidad"
		  }
		  </script>
   <title>Home</title>
  
</head>

