<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Mi Informacion</h1>
    <ul>
  <li>  Nombre: Javier</li>
  <li>Apellido: Pereira</li>
  <li>Cedula: 29858705</li>
  <li>Seccion: 1</li>
  <li>Materia: Programacion 3</li>
  </ul>
  <a href="/contacto">ir a otra</a>
  </body>
</html>
