
<!DOCTYPE html>
<html>
<%- include('header') -%>
<body>
    
    
  <main>
   <h1>Mis Datos Personales</h1>
   <ul>
      <table>
        
         <h2>Javier Pereira</h2>
         <h2>Cedula: 29.858.705</h2>
         <h2>Sección: 1</h2>
        </table>
     
      <a href='/login' id='botonProductos'>Admin</a>
   </ul>
    
  </main>

     

  

   <%- include('footer') -%>
  
</body>

</html>