<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="/css/login.css">
	<link rel="icon" href="/img/descarga.jpg">
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-JVLQFMWCBR"></script>
		<!--Google Analytics-->
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag() {
			dataLayer.push(arguments);
		  }
		  gtag('js', new Date());
		  gtag('config', 'G-JVLQFMWCBR');
		</script>
		<!--Schema Markup-->
		 <script type="application/ld+json">
		  {
			"@context": "https://schema.org",
			"@type": "Article",
			"headline": "Confiteria",
			"datePublished": "2024-01-22",
			"author": {
			  "@type":"Person",
			  "name": "Excleyer"
			},
			"publisher":{
			  "@type": "Organization",
			  "name": "Confiteria",
			  "logo": {
				"@type": "ImageObject",
				"url": "https://images.pexels.com/photos/8853537/pexels-photo-8853537.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
			  }
			},
			"image": {
			  "@type": "ImageObject",
			  "url": "https://images.pexels.com/photos/8853537/pexels-photo-8853537.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
			  "width": "800",
			  "height": "600"
			},
			"description": "Lo Mejor en productos de alta calidad"
		  }
		  </script>
</head>
<body>

 <div id='otroLogin'>


	<form class="login_form" action="/login" method="post">
		
		<h1 class="login">**Inicio de Sesion**</h1>
			<label for="admin">Administrador</label>
			<input type="text" name="admin" required="required">
	
			<label for="password">Contraseña</label>
			<input type="password" name="password" required="required">
	
			<div>
				<a href="/" style="text-decoration:none;font-size:27px;margin-left:-2px" class="btn btn-lg btn-facebook btn-login fw-bold text-uppercase"style="text-decoration:none;color:white;font-size:20px"id='admin'>Retur</a>
			     <input  type="submit" name="enviar" value="Login" style="text-decoration:none;font-size:25px;margin-left:16px" class="btn btn-lg btn-facebook btn-login fw-bold text-uppercase"style="text-decoration:none;color:white;font-size:20px" id='iniciar'>
			</div>
	</form>


</div>
</body>
</html>



